<footer class="footer_widgets">
     <div class="footer_top">
            <div class="container">
                <div class="row">
<!--                    <div class="col-lg-4 col-md-8 col-sm-12">-->
<!--                        <div class="widgets_container contact_us">-->
<!--                           <h3>Contacts us</h3>-->
<!--                            <div class="footer_contact">-->
<!--                                <p><span>Address:</span> 123 Main Street, Anytown, CA 12345 - USA.</p>-->
<!--                                <p><span>Phone:</span> <a href="tel:(012)800456789">(012) 800 456 789</a></p>-->
<!--                                <p><span>Fax:</span> <a href="tel:(012)800456789">(012) 800 456 789</a></p>-->
<!--                                <p><span>Email:</span> <a href="#">demo@towerthemes.com</a></p>-->

<!--                            </div>-->
<!--                             <div class="footer_payment">-->
<!--                                <p>Payment Methods:</p>-->
<!--                                <img src="assets/img/icon/payment.png" alt="">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="col-lg-4 col-md-8 col-sm-12">
                        <div class="widgets_container contact_us">
                           <h3>Contactos</h3>
                            <div class="footer_contact">
<!--                                <p><span>Address:</span> 123 Main Street, Anytown, CA 12345 - USA.</p>-->
                                    <p><span>Phone :</span> <a href="tel:(012)800456789">(+258) 84 395 9919 / 84 726 3226</a></p>
<!--                                <p><span>Email:</span> <a href="#">tol@gmail.com</a></p>-->

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="widgets_container widget_menu">
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="/website/how_to_buy/">Como comprar no TOL</a></li>
                                    <li><a href="/website/how_to_sell/">Como vender no TOL</a></li>
                                    <li><a href="/website/security_suggestions/">Dicas de segurança</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright_area">
                            <p>&copy; 2020 TOL Todos Direitos Reservados.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                       <div class="footer_social text-right">
                           <ul>
                                <li><a href="https://web.facebook.com/groups/2941576522563758/?hc_location=group" target="_blank"><i class="fa fa-facebook"></i></a></li>
                               <li><a href="https://twitter.com/home"  target="_blank"><i class="fa fa-twitter"></i></a></li>
                               <li><a href="https://www.instagram.com/trocas_online/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a></li>
                               <li><a href="https://chat.whatsapp.com/KSGqeGEQP8L5g5XLMsLcAF" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                           </ul>
                       </div>
                    </div>
                </div>
            </div>
        </div>
</footer>